[submodule "mpython-docs"]
	path = mpython-docs
	url = https://github.com/labplus-cn/mpython-docs.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "port/usercmodule/esp-who/esp-who"]
	path = port/usercmodule/esp-who/esp-who
	url = https://github.com/labplus-cn/esp-who.git
[submodule "port/usercmodule/lv_binding_micropython"]
	path = port/usercmodule/lv_binding_micropython
	url = https://github.com/labplus-cn/lv_binding_micropython.git
